@import '../variables';
@import '../themes';

.context-menu-list {
    position: absolute;
    padding: $spacing-base 0;

    .context-menu-item {
        display: block;
        padding: $spacing-base/4 $spacing-base;
    }
}

@each $theme, $colors in $themes {
    $color-search: map-get($colors, search);
    $color-search-text: map-get($colors, search-text);
    $color-primary: map-get($colors, primary);
    $color-primary-text: map-get($colors, primary-text);

    .theme--#{$theme} {
        .context-menu-list {
            background: $color-search;
            color: $color-search-text;

            .context-menu-item {
                &.context-menu-hover {
                    background: $color-primary;
                    color: $color-primary-text;
                }

                &.context-menu-disabled {
                    opacity: 0.7;
                }
            }
        }
    }
}
