@import '../variables';

.form {
    flex: 1 1 auto;
}

.form--horizontal {
    flex-direction: row;
    align-items: flex-start;
}

.form__item {
    margin-bottom: $spacing-base;
    flex-direction: row;
    flex-wrap: wrap;

    &:last-child {
        margin-bottom: -$spacing-base;
    }

    .form--horizontal & {
        margin-right: $spacing-base;
        margin-bottom: 0;
        flex-direction: row;

        &:last-child {
            margin-right: -$spacing-base;
        }
    }
}

.form__item--grow {
    flex-grow: 1;
}

.form__item--align-right {
    align-self: flex-end;
}

.form__label {
    margin-bottom: $spacing-base;
    flex: 0 0 100px;
}

.form__control {
    margin-bottom: $spacing-base;
    flex: 1 100 0;
    min-width: 70%;
    justify-content: center;

    .form--horizontal & {
        margin-right: $spacing-base;
        margin-bottom: 0;
        flex-direction: row;
    }
}
