@import '../themes';
@import '../variables';

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;

    height: $header-inner-height + 2 * $spacing-base;
    padding: $spacing-base;

    display: flex;
    align-items: center;

    transition:
        background $transition-base ease,
        color $transition-base ease;
}

.header__search {
    margin-right: $spacing-base;
    flex: 1 1 auto;
}

.header__button {
    margin-right: $spacing-base / 2;
    width: 40px;
    height: 40px;
    text-align: center;

    border-radius: 50%;
    cursor: pointer;

    transition: background $transition-fast ease;

    &:last-child {
        margin-right: 0;
    }

    & > :only-child {
        line-height: 40px;
    }
}

@each $theme, $colors in $themes {
    $color-primary: map-get($colors, primary);
    $color-primary-text: map-get($colors, primary-text);

    .theme--#{$theme} {
        .header {
            background: $color-primary;
            color: $color-primary-text;
        }

        .header__button {
            background-color: transparentize($color-primary-text, 1);

            &:hover {
                background-color: transparentize($color-primary-text, 0.9);
            }

            &:active {
                background-color: transparentize($color-primary-text, 0.85);
            }
        }
    }
}
