@import '../themes';
@import '../variables';

.sample {
    flex: 1 1 auto;
    margin: $spacing-base / 2;
    max-width: calc(100% - #{$spacing-base});
    padding: $spacing-base $spacing-base * 1.5;
    position: relative;

    text-align: center;
    overflow: hidden;

    border-radius: $border-radius-base;

    cursor: pointer;
    transition:
        background $transition-base ease,
        color $transition-base ease,
        text-shadow $transition-base ease,
        box-shadow $transition-base ease;
}

.sample--filtered {
    display: none;
}

.sample__name,
.sample__categories {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sample__categories {
    font-size: 0.9em;
    opacity: 0.7;
}

.sample__categories--empty {
    opacity: 0.15;

    &::before {
        content: 'void';
    }
}

.sample__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: $border-radius-base;

    opacity: 0;
    transition: opacity $transition-base ease;

    .sample--playing & {
        opacity: 1;
    }
}

@each $theme, $colors in $themes {
    $color-sample: map-get($colors, sample);
    $color-sample-text: map-get($colors, sample-text);
    $color-sample-shadow: map-get($colors, sample-shadow);

    $color-primary: map-get($colors, primary);
    $color-primary-text: map-get($colors, primary-text);

    .theme--#{$theme} {
        .sample {
            background: $color-sample;
            color: $color-sample-text;

            &:hover {
                background: mix($color-sample-text, $color-sample, 5%);
            }

            &:active {
                background: mix($color-sample-text, $color-sample, 10%);
            }

            @if ($color-sample-shadow) {
                box-shadow: 0 1px 4px $color-sample-shadow;

                &:hover {
                    box-shadow: 0 2px 6px opacify($color-sample-shadow, 0.05);
                }

                &:active {
                    box-shadow: 0 2px 8px opacify($color-sample-shadow, 0.1);
                }
            }
        }

        .sample--playing {
            background: $color-primary;
            color: $color-primary-text;
            text-shadow: 0 1px 1px rgba(0,0,0,0.3);

            &:hover {
                background: lighten($color-primary, 2%);
            }

            &:active {
                background: lighten($color-primary, 4%);
            }
        }

        .sample__progress {
            background: transparentize($color-primary-text, 0.85);
        }
    }
}
