@import '../themes';
@import '../variables';

.sample-container {
    padding: $spacing-base / 2;
    padding-top: $header-inner-height + $spacing-base * 2 + $spacing-base / 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;

    min-height: 100%;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: stretch;
    }

    /* Don't let the last item fill the remainder of the row */
    &:after {
        content: '';
        flex: 9999 0 auto;
    }
}

.sample-container--empty {
    align-items: center;
    justify-content: center;

    transition: color $transition-base ease;

    &:after {
        display: none;
    }
}

.sample-container__empty {
    display: none;
    text-align: center;
    margin: $spacing-base * 2;

    .sample-container--empty & {
        display: block;
    }
}

.sample-container__empty-icon {
    font-size: 72px;
    margin-bottom: $spacing-base;
}

@each $theme, $colors in $themes {
    $color-sample-container: map-get($colors, sample-container);
    $color-sample-text: map-get($colors, sample-text);

    .theme--#{$theme} {
        .sample-container {
            color: mix($color-sample-container, $color-sample-text, 70%);
        }

        .sample-container__empty {

        }
    }
}
