@import '../themes';
@import '../variables';

.table {
    width: 100%;
    border-spacing: 0;
}

.table__head {
    padding: $spacing-base * 1.25 $spacing-base * 2;
    text-align: left;
    justify-content: space-between;

    font-weight: normal;
    color: $color-text-secondary;
    background: darken(white, 3%);

    border-bottom: 1px solid darken(white, 9%);
    border-right: 1px solid darken(white, 9%);
}

.table__head--align-left {
    padding-right: $spacing-base * 1.25;

    .table__head-content {
        flex-direction: row;
    }

    .table__sort-icon {
        margin-left: $spacing-base / 2;
    }
}

.table__head--align-right {
    padding-left: $spacing-base * 1.25;

    .table__head-content {
        flex-direction: row-reverse;
    }

    .table__sort-icon {
        margin-right: $spacing-base / 2;
    }
}

.table__head--auto-width {
    width: 1px;
}

.table__head--sortable {
    cursor: pointer;

    &:hover {
        background: darken(white, 5%);
    }
    &:active {
        background: darken(white, 6.5%);
    }
}

.table__head--sort {
    color: $color-text-default;
}

.table__head-content {
    flex-direction: row;
    align-items: center;
}

.table__sort-icon {
    font-size: 18px;

    opacity: 0;

    .table__head:hover & {
        opacity: 0.4;
    }

    .table__head.table__head--sort & {
        opacity: 1;
    }
}

.table__cell {
    padding: $spacing-base * 1.25 $spacing-base * 2;
    white-space: nowrap;

    border-bottom: 1px solid darken(white, 5%);
    border-right: 1px solid darken(white, 5%);

    .table__row:last-child & {
        border-bottom: 0;
    }
}

.table__cell--align-left {
    text-align: left;
}

.table__cell--align-center {
    text-align: center;
}

.table__cell--align-right {
    text-align: right;
}
