@import '../themes';
@import '../variables';

.theme-thumb {
  width: 100px;
  height: 70px;

  border-radius: $border-radius-base;
}

.theme-thumb--fluid {
  width: 100%;
  height: auto;
}

@each $theme, $colors in $themes {
  $color-primary: map-get($colors, primary);
  $color-search: map-get($colors, search);
  $color-sample-container: map-get($colors, sample-container);
  $color-sample: map-get($colors, sample);
  $color-sample-text: map-get($colors, sample-text);

  .theme-thumb--#{$theme} {
    .theme-thumb__background {
      fill: $color-sample-container;
    }

    .theme-thumb__header {
      fill: $color-primary;
    }

    .theme-thumb__search {
      fill: $color-search;
    }

    .theme-thumb__sample-container {
      fill: $color-sample-container;
    }

    .theme-thumb__sample {
      fill: $color-sample;
    }

    .theme-thumb__sample--playing {
      fill: $color-primary;
    }

    .theme-thumb__sample-text {
      fill: $color-sample-text;
    }
  }
}
