@import '__themes';

$themes: map-merge($themes, (classic: (
  primary: #4caf50,
  primary-text: #fff,

  search: #fff,
  search-text: #222,

  sample-container: #eee,
  sample: #fff,
  sample-text: #222,
  sample-shadow: rgba(0,0,0,0.15)
)));
