# Sample files (we got that sweet copyright on our own voices)
/samples/*
!/samples/.gitkeep

# IDE stuff
/.idea/

# Frontend
/node_modules/
/.npmrc
/npm-debug.log
/public/
/.parcel-cache/

# Backend
/vendor/
