/public/build/
/public/config.json
/public/index.html
/.cache/
/.parcel-cache/

# Sample files (we got that sweet copyright on our own voices)
/samples/*
!/samples/.gitkeep

# IntellIJ
/.idea/

# NodeJS
/node_modules/
/.npmrc
/npm-debug.log

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Composer
/vendor/
