@import '../variables';

.form {
  flex: 1 1 auto;
}

.form--horizontal {
  flex-direction: row;
  align-items: flex-start;
}

.form__item {
  margin-bottom: $spacing-base;
  flex-direction: row;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: -$spacing-base;
  }

  .form--horizontal & {
    flex-direction: row;
  }
}

.form__item--grow {
  flex-grow: 1;
}

.form__label {
  margin-bottom: $spacing-base;
  flex: 0 0 100px;
}

.form__control {
  margin-bottom: $spacing-base;
  flex: 1 1 auto;
  justify-content: center;

  .form--horizontal & {
    flex-direction: row;
  }
}
