@import '../variables';

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: $header-inner-height + $spacing-base * 2;
  flex-direction: row;

  background: $color-primary;
}

.header__search {
  margin: $spacing-base;
  flex: 1 1 auto;
}
