@import '../themes';
@import '../variables';

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: $header-inner-height + $spacing-base * 2;
  flex-direction: row;
}

@each $theme, $colors in $themes {
  $color-primary: map-get($colors, primary);

  .theme--#{$theme} {
    .header {
      background: $color-primary;
    }
  }
}

.header__search {
  margin: $spacing-base;
  flex: 1 1 auto;
}

.header__button {
  align-self: center;
  margin-right: $spacing-base;
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  color: $color-text-default;
  border-radius: 50%;

  cursor: pointer;

  transition: background 200ms ease;

  &:hover {
    background: rgba(0,0,0,0.1);
  }

  &:active {
    background: rgba(0,0,0,0.2);
  }
}
