@import '../themes';
@import '../variables';

@mixin track {
  &::-webkit-slider-runnable-track {
    @content;
  }

  &::-moz-range-track {
    @content;
  }
}

@mixin thumb {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @content;
  }

  &::-moz-range-thumb {
    border-width: 0;
    @content;
  }
}

input[type=range] {
  $track-height: 4px;
  $thumb-size: 14px;

  @include track {
    width: 100%;
    height: $track-height;

    background: rgba(0,0,0,0.1);
    border-radius: $track-height;
  }

  @include thumb {
    margin-top: ($track-height - $thumb-size) / 2;
    width: $thumb-size;
    height: $thumb-size;

    border-radius: $thumb-size / 2;

    transition:
      transform $transition-fast ease,
      background $transition-fast ease;
  }

  width: 100%;
  margin: -5px 0;
  padding: (($thumb-size - $track-height) / 2 + 5px) 0;

  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    @include thumb {
      transform: scale(1.25);
    }
  }
}

@each $theme, $colors in $themes {
  $color-primary: map-get($colors, primary);

  .theme--#{$theme} {
    input[type=range] {
      @include thumb {
        background: $color-primary;
      }

      &:hover {
        @include thumb {
          background: darken($color-primary, 4%);
        }
      }

      &:active {
        @include thumb {
          background: darken($color-primary, 8%);
        }
      }
    }
  }
}
