@import '../easings';
@import '../themes';
@import '../variables';

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.6);
  opacity: 0;
  pointer-events: none;

  transition: opacity 200ms ease;
}

.modal--visible {
  opacity: 1;
  pointer-events: all;

  transition: opacity 300ms ease;
}

.modal__dialog {
  flex: 0 1 540px;
  margin: $spacing-base * 2;

  background: #fff;
  border-radius: $border-radius-base * 2;

  transform: scale(0.8);
  transition: transform 200ms $easeInQuad;

  .modal--visible & {
    transform: scale(1);
    transition: transform 300ms $easeOutExpo;
  }
}

.modal__header,
.modal__content,
.modal__footer {
  padding: $spacing-base * 2;

  &:first-child {
    border-radius: $border-radius-base $border-radius-base 0 0;
  }

  &:last-child {
    border-radius: 0 0 $border-radius-base $border-radius-base;
  }
}

@each $theme, $colors in $themes {
  $color-primary: map-get($colors, primary);
  $color-primary-text: map-get($colors, primary-text);

  .theme--#{$theme} {
    .modal__header {
      background: $color-primary;
      color: $color-primary-text;
    }
  }
}

.modal__content {
  background: #fff;
}

.modal__footer {
  flex-direction: row;
  justify-content: flex-end;

  background: darken(#fff, 2%);
  border-top: 1px solid darken(#fff, 5%);
}
