@import '../variables';

.sample-container {
  flex: 1 1 auto;
  margin-top: $header-inner-height + $spacing-base * 2;
  padding: $spacing-base / 2;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  &::after {
    content: '';
    flex: 9999 0 auto;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.sample-container--empty {
  align-items: center;

  &::after {
    display: none;
  }
}

.sample-container__empty {
  display: none;
  flex: 1 1 auto;
  margin: $spacing-base * 2;
  align-items: center;
  justify-content: center;

  color: mix($color-background, $color-text-default, 70%);

  .sample-container--empty & {
    display: flex;
  }
}

.sample-container__empty-icon {
  font-size: 72px;
}

.sample-container__empty-label {
  margin-top: $spacing-base;
  text-align: center;
}
