@import '../themes';
@import '../variables';

.sample {
  flex: 1 0 auto;
  margin: $spacing-base / 2;
  padding: $spacing-base $spacing-base * 1.5;
  text-align: center;

  border-radius: $border-radius-base;

  cursor: pointer;
  transition: background 150ms ease;
}

@each $theme, $colors in $themes {
  $color-sample: map-get($colors, sample);
  $color-sample-text: map-get($colors, sample-text);

  $color-primary: map-get($colors, primary);
  $color-primary-text: map-get($colors, primary-text);

  .theme--#{$theme} {
    .sample {
      background: $color-sample;
      color: $color-sample-text;

      &:hover {
        background: lighten($color-sample, 5%);
      }

      &:active {
        background: lighten($color-sample, 10%);
      }
    }

    .sample--playing {
      background: $color-primary;
      color: $color-primary-text;
      text-shadow: 0 1px 1px rgba(0,0,0,0.3);

      &:hover {
        background: lighten($color-primary, 2%);
      }

      &:active {
        background: lighten($color-primary, 4%);
      }
    }
  }
}

.sample--filtered {
  display: none;
}

.sample__categories {
  font-size: 0.9em;
  opacity: 0.7;
}

.sample__progress-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;

  overflow: hidden;
  border-radius: $border-radius-base;

  opacity: 0;
  transition: opacity 150ms ease;

  .sample--playing & {
    opacity: 1;
  }
}

.sample__progress {
  background: rgba(255,255,255,0.3);
}
