@import '../easings';
@import '../themes';
@import '../variables';

.search {
  flex: 1 1 auto;
}

.search__input {
  flex: 1 1 auto;
  padding: $spacing-base * 2;

  border: 0;
  border-radius: $border-radius-base;

  font: inherit;

  transition:
    background $transition-base ease,
    color $transition-base ease;

  &:focus {
    outline: 0;
  }
}

.search__clear {
  position: absolute;
  top: $spacing-base;
  right: $spacing-base;
  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0);
  border-radius: 50%;
  opacity: 0.5;

  cursor: pointer;
  transition:
    background $transition-base ease,
    opacity $transition-base ease,
    transform $transition-base ease,
    color $transition-base ease;

  &:hover {
    background: rgba(0,0,0,0.1);
    opacity: 0.6;
  }

  &:active {
    background: rgba(0,0,0,0.15);
    opacity: 0.8;
  }

  .search--empty & {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
  }
}

@each $theme, $colors in $themes {
  $color-search: map-get($colors, search);
  $color-search-text: map-get($colors, search-text);

  .theme--#{$theme} {
    .search__input {
      background: $color-search;
      color: $color-search-text;

      &::placeholder {
        color: transparentize($color-search-text, 0.5);
      }
    }

    .search__clear {
      color: $color-search-text;
    }
  }
}
