@import '../themes';
@import '../variables';

.theme-selector {
  flex-direction: row;
}

.theme-selector__item {
  margin-right: $spacing-base;

  cursor: pointer;
}

.theme-selector__thumb {
  padding: 2px;
  border: 2px solid transparent;
  border-radius: $border-radius-base + 2;

  transition: border-color $transition-fast ease;

  .theme-selector__item:hover & {
    border-color: rgba(0,0,0,0.1);
  }
}

@each $theme, $colors in $themes {
  $color-primary: map-get($colors, primary);

  .theme--#{$theme} {
    .theme-selector__item--selected .theme-selector__thumb {
      border-color: $color-primary;
    }
  }
}

.theme-selector__label {
  margin-top: $spacing-base / 2;
  text-align: center;

  color: $color-text-secondary;
  font-size: 0.8rem;

  transition: color $transition-fast ease;

  .theme-selector__item--selected & {
    color: $color-text-default;
  }
}
