@import '../themes';
@import '../variables';

.theme-thumb {
  width: 100px;
  height: 70px;

  border-radius: $border-radius-base;
  overflow: hidden;
}

.theme-thumb__header {
  height: 20px;
}

.theme-thumb__search {
  margin: 4px;
  width: 80px;
  height: 12px;

  border-radius: 1px;
}

.theme-thumb__sample-container {
  padding: 2px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;

  &::after {
    content: '';
    flex: 9999 0 0;
  }
}

.theme-thumb__sample {
  flex: 1 1 auto;
  margin: 2px;
  padding: 2px;

  text-align: center;
  font-size: 7px;

  border-radius: 1px;
}

@each $theme, $colors in $themes {
  $color-primary: map-get($colors, primary);
  $color-primary-text: map-get($colors, primary-text);

  $color-search: map-get($colors, search);
  $color-search-text: map-get($colors, search-text);

  $color-sample-container: map-get($colors, sample-container);
  $color-sample: map-get($colors, sample);
  $color-sample-text: map-get($colors, sample-text);

  .theme-thumb--#{$theme} {
    .theme-thumb__header {
      background: $color-primary;
      color: $color-primary-text;
    }

    .theme-thumb__search {
      background: $color-search;
      color: $color-search-text;
    }

    .theme-thumb__sample-container {
      background: $color-sample-container;
    }

    .theme-thumb__sample {
      background: $color-sample;
      color: $color-sample-text;
    }
  }
}
