@import '../variables';

.version {
  margin: 0 (-$spacing-base / 2);

  font-size: 0.8em;
  color: $color-text-secondary;
}

.version__link {
  margin: 0 ($spacing-base / 2);
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: darken($color-text-secondary, 10%);
	}
}
