@import '../variables';

.version {
	flex: 1 1 auto;
	flex-direction: row;
  flex-wrap: wrap;
	align-items: center;
  justify-content: center;

	cursor: pointer;

	padding: $spacing-base $spacing-base * 2;

  transition: background $transition-fast ease, color $transition-fast ease;

	&:hover {
    background: rgba(0,0,0,0.08);
  }

  &:active {
    background: rgba(0,0,0,0.11);
  }
}

.version__title,
.version__name {
	margin: 0 $spacing-base;
	display: initial;
}

.version__number {
	display: initial;
}
