@import '../variables';

.version {
	flex: 1 1 auto;
	flex-direction: row;
  flex-wrap: wrap;
	align-items: center;
  justify-content: center;
}

.version__title,
.version__name {
	margin: 0 $spacing-base;
	display: initial;

	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: darken($color-text-secondary, 10%);
	}
}

.version__number {
	display: initial;
}
