@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;
  margin: 0;

  font: 16px 'Roboto';
  background-color: #eee;
}
