#contributionContainer {
  order: 3;
  flex: 1 1 auto;

  display: none;
  border-width: 0;
}

#contribute {
  flex: 0 0 auto;
  position: relative;
  margin-left: 15px;

  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;

  border-radius: 50%;
  font-size: 40px;
  color: #fff;

  transition: background-color 200ms ease, transform 700ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}
