#searchContainer {
  order: 1;
  flex: 0 0 auto;
  z-index: 10;
  padding: 15px;

  display: flex;

  background-color: #4caf50;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.3);
}

#searchInput {
  width: 100%;
  height: 60px;
  padding: 20px;

  font: inherit;
  color: #fff;

  border: 0;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);

  transition: box-shadow 300ms ease, background-color 300ms ease;

  &::placeholder {
    color: rgba(255,255,255,0.6);
    transition: color 300ms ease;
  }

  &:focus {
    outline: 0;
    color: #222;
    background-color: #fff;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
  }

  &:focus::placeholder {
    color: rgba(0,0,0,0.5);
  }

  &::-webkit-search-cancel-button {
    appearance: none;

    width: 34px;
    height: 34px;
    text-align: center;

    color: rgba(0,0,0,0.4);
    border-radius: 50%;
    background-color: rgba(0,0,0,0);

    transition: background-color 200ms ease, color 200ms ease;

    &:hover {
      color: rgba(0,0,0,0.6);
      background-color: rgba(0,0,0,0.1);
    }

    &:active {
      color: rgba(0,0,0,0.7);
      background-color: rgba(0,0,0,0.2);
    }

    &::after {
      content: '×';
      font-size: 27px;
      line-height: 36px
    }
  }
}

#playRandom {
  flex: 0 0 auto;
  position: relative;
  margin-right: 15px;

  display: block;
  width: 60px;
  height: 60px;

  border-radius: 50%;
  cursor: pointer;

  transition: background-color 200ms ease, transform 700ms ease-in-out;

  &:hover {
    background-color: rgba(0,0,0,0.1);
  }

  &:active {
    transform: rotate(-720deg);
    background-color: rgba(0,0,0,0.2);
    transition: background-color 200ms ease;
  }

  &::before {
    position: absolute;
    top: 17px;
    right: 17px;

    content: '';
    display: block;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 3px solid #fff;
    border-left-color: transparent;
  }

  &::after {
    position: absolute;
    top: 29px;
    right: 35px;
    transform: rotate(135deg);

    content: '';
    display: block;
    width: 0;
    height: 0;

    border: 6px solid transparent;
    border-top-color: #fff;
  }
}
