$themes: (

  default: (
    primary: #25b192,
    primary-text: #fff,

    search: #fff,
    search-text: #2d3e4c,

    sample-container: #232323,
    sample: #2d2d2d,
    sample-text: #fff,
  ),

  classic: (
    primary: #4caf50,
    primary-text: #fff,

    search: #fff,
    search-text: #222,

    sample-container: #eee,
    sample: #fff,
    sample-text: #222,
    sample-shadow: rgba(0,0,0,0.15)
  ),

  thyme: (
    primary: #000,
    primary-text: #0f0,

    search: #020,
    search-text: #0f0,

    sample-container: #010,
    sample: #000,
    sample-text: #0f0
  ),

);
