$themes: (

  default: (
    primary: #25b192,
    primary-text: #fff,

    search: #fff,
    search-text: #2d3e4c,

    sample-container: #232323,
    sample: #2d2d2d,
    sample-text: #fff,
  ),

  classic: (
    primary: #4caf50,
    primary-text: #fff,

    search: #fff,
    search-text: #222,

    sample-container: #eee,
    sample: #fff,
    sample-text: #222,
    sample-shadow: rgba(0,0,0,0.15)
  ),

  thyme: (
    primary: #0f0,
    primary-text: #000,

    search: darken(#0f0, 5%),
    search-text: #000,

    sample-container: #000,
    sample: #111,
    sample-text: #ddd
  ),

);
