@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// Spacing
$spacing-base: 10px;
$border-radius-base: 3px;

// Fonts
$font-stack: 16px 'Varela Round', Arial;

// Colors
$color-background: #2e384d;
$color-card: #3d4b66;
$color-primary: #25b192;

$color-text-default: #fff;
