@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// Spacing
$spacing-base: 10px;
$border-radius-base: 3px;
$header-inner-height: 60px;

// Fonts
$font-stack: 16px 'Varela Round', Arial;

// Colors
$color-background: #232323;
$color-background-search: #fff;
$color-card: #2d2d2d;
$color-primary: #25b192;

$color-text-default: #fff;
$color-text-search: #2D3E4C;
