@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// Spacing
$spacing-base: 10px;
$border-radius-base: 3px;
$header-inner-height: 60px;

// Timing
$transition-base: 150ms;
$transition-fast: 100ms;

// Fonts
$font-stack: 16px 'Varela Round', Arial;

// Colors
$color-text-default: #2d3e4c;
$color-text-secondary: mix($color-text-default, white, 50%);
