@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// Spacing
$spacing-base: 10px;
$border-radius-base: 3px;
$header-inner-height: 60px;

// Fonts
$font-stack: 16px 'Varela Round', Arial;

// Colors
$color-text-default: #2d3e4c;
