@import '__themes';

$themes: map-merge($themes, (thyme: (
  primary: #000,
  primary-text: #0f0,

  search: #020,
  search-text: #0f0,

  sample-container: #010,
  sample: #000,
  sample-text: #0f0
)));
