@import '_themes';

$themes: map-merge($themes, (cirkeltrek: (
    primary: #e27000,
    primary-text: #fff,

    search: #fff,
    search-text: #222,

    sample-container: #fff,
    sample: darken(#fff, 3%),
    sample-text: #222,
    sample-shadow: rgba(0,0,0,0.15)
)));

@mixin cirkeltrek {
    $colors: (0: #ae1c28, 1: #ffffff, 2: #21468b);

    body.theme--cirkeltrek {
        @each $i, $color in $colors {
            .sample--line-#{$i}:not(.sample--playing) {
                background: $color;

                &:hover {
                    background: darken($color, 5%);
                }
                &:active {
                    background: darken($color, 10%);
                }

                @if ($i == 0 or $i == 2) {
                    color: #fff;
                }
            }
        }
    }
}
