[data-theme='cirkeltrek'] {
    $cirkeltrek-oranje: #E27000;
    $cirkeltrek-rood: #AE1C28;
    $cirkeltrek-wit: #FFFFFF;
    $cirkeltrek-blauw: #21468B;


    $header-bg: $cirkeltrek-oranje;
    $header-color: #fff;

    --header-bg: #{$header-bg};
    --header-color: #{$header-color};

    --icon-button-header-color: #{$header-color};
    --icon-button-header-bg-hover: #{rgba($header-color, 0.1)};
    --icon-button-header-color-hover: #{$header-color};
    --icon-button-header-bg-active: #{rgba($header-color, 0.15)};
    --icon-button-header-color-active: #{$header-color};

    --sample-list-bg: #{darken(white, 5%)};

    // SampleItem (playing)
    $sample-playing-bg: $cirkeltrek-oranje;
    --sample-playing-bg: #{$sample-playing-bg};
    --sample-playing-bg-hover: #{darken($sample-playing-bg, 5%)};
    --sample-playing-bg-active: #{darken($sample-playing-bg, 10%)};

    --sample-playing-color: white;

    --sample-progress-bg: #{rgba(lighten($sample-playing-bg, 30%), .4)};

    --sample-visualize-color: white;

    // SampleItem (not playing)
    .SampleList__row[data-index-mod3="0"] {
        $sample-bg: $cirkeltrek-rood;
        $sample-color: white;

        --sample-bg: #{$sample-bg};
        --sample-bg-hover: #{darken($sample-bg, 4%)};
        --sample-bg-active: #{darken($sample-bg, 8%)};

        --sample-color: #{$sample-color};
    }
    .SampleList__row[data-index-mod3="1"] {
        $sample-bg: $cirkeltrek-wit;
        $sample-color: #222;

        --sample-bg: #{$sample-bg};
        --sample-bg-hover: #{darken($sample-bg, 4%)};
        --sample-bg-active: #{darken($sample-bg, 8%)};

        --sample-color: #{$sample-color};
    }
    .SampleList__row[data-index-mod3="2"] {
        $sample-bg: $cirkeltrek-blauw;
        $sample-color: white;

        --sample-bg: #{$sample-bg};
        --sample-bg-hover: #{darken($sample-bg, 4%)};
        --sample-bg-active: #{darken($sample-bg, 8%)};

        --sample-color: #{$sample-color};
    }
}
