.audio-blocked-overlay {
    z-index: 1;
    text-align: center;
    padding-top: $header-inner-height + $spacing-base * 2 + $spacing-base / 2;

    width: 100%;
    height: 100%;
    position: fixed;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;

    display: none;

    &--active {
        display: flex;
    }
}

.audio-blocked-overlay__icon {
    font-size: 50px;
}

.audio-blocked-overlay__text {
    font-size: 25px;
    margin-top: 10px;
    opacity: 0.7;
}

@each $theme, $colors in $themes {
    $color-sample-container: map-get($colors, sample-container);
    $color-sample-text: map-get($colors, sample-text);

    .theme--#{$theme} {
        .audio-blocked-overlay {
            background-color: $color-sample-container;
            color: $color-sample-text;
        }

        .audio-blocked-overlay__text {
            color: $color-sample-text
        }
    }
}
