@import '../variables';
@import 'input-range';

//textarea {
//  flex: 1 1 auto;
//
//  border: 1px solid darken(#fff, 10%);
//  border-radius: $border-radius-base;
//}

.input {
    width: 100%;
    padding: $spacing-base $spacing-base * 1.5;

    font: inherit;
    color: inherit;
    box-shadow: inset 0 0 0 1px darken(#fff, 10%);
    border: 0;
    border-radius: $border-radius-base;

    transition: box-shadow $transition-base ease;

    &:hover {
        box-shadow: inset 0 0 0 1px darken(#fff, 15%);
    }

    &:focus {
        outline: none;
    }
}

@each $theme, $colors in $themes {
    $color-primary: map-get($colors, primary);
    $color-primary-text: map-get($colors, primary-text);

    .theme--#{$theme} {
        .input {
            &:focus {
                box-shadow: inset 0 0 0 2px $color-primary;
            }
        }
    }
}
