@use '../variables' as *;

.BlockedOverlay {
    position: fixed;
    z-index: $z-index-blocked-overlay;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: hsl(0 0% 20% / 95%);
    color: white;
}

.BlockedOverlay__content {
    text-align: center;
}
