@use '../variables' as *;

.SampleList {
    flex: 1 0 auto;

    position: relative;
    z-index: $z-index-sample-list;

    // margin-block: <added by virtualizer>
    margin-inline: $sampleListPadding;

    &__row {
        position: absolute;
        width: 100%;

        display: flex;
        flex-direction: row;
    }

    &__pusher {
        flex: 10 0 auto;
    }

    // No results
    &__noResults {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;
        padding: 20px;

        color: var(--no-results-color);
    }

    &__noResultsIcon {
        margin-bottom: 10px;

        color: var(--no-results-icon-color);
    }
}
