@import 'variables';
@import 'themes';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    margin: 0;

    overflow-y: scroll;

    font: $font-stack;
    color: $color-text-default;

    transition: background $transition-base ease;

    cursor: default;
}

.text--selectable {
    user-select: all;
    cursor: text;
}

@each $theme, $colors in $themes {
    $color-primary: map-get($colors, primary);
    $color-primary-text: map-get($colors, primary-text);

    body.theme--#{$theme} {
        $color-sample-container: map-get($colors, sample-container);
        background: $color-sample-container;

        ::selection {
            background: $color-primary;
            color: $color-primary-text;
        }

        ::-moz-selection {
            background: $color-primary;
            color: $color-primary-text;
        }
    }
}
