.IconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 40px;

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

    &--search {
        color: var(--icon-button-search-color);

        &:hover,
        &:focus {
            background-color: var(--icon-button-search-bg-hover);
        }
        &:active {
            background-color: var(--icon-button-search-bg-active);
        }
    }

    &--header {

    }
}
