.IconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 40px;

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

    &--search {
        color: black;

        &:hover,
        &:focus {
            background-color: rgba(black, 0.1);
        }
        &:active {
            background-color: rgba(black, 0.2);
        }
    }

    &--header {

    }
}
