@import 'variables';

.SampleItem {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    box-sizing: border-box;
    max-width: calc(100% - #{2 * $sampleMargin});
    height: $sampleHeight;
    margin: $sampleMargin;
    padding: 0 $samplePaddingX;

    border-radius: 2px;
    background: var(--sample-bg);
    cursor: pointer;

    &:hover {
        background: var(--sample-bg-hover);
    }
    &:active {
        background: var(--sample-bg-active);
    }

    &--isPlaying {
        background: var(--sample-playing-bg);
        &:hover {
            background: var(--sample-playing-bg-hover);
        }
        &:active {
            background: var(--sample-playing-bg-active);
        }
    }

    &__name,
    &__detail {
        position: relative;
        z-index: 1;

        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__name {
        font: $nameFont;
    }
    &__detail {
        font: $detailFont;
    }

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(black, 0.1);

        transform-origin: 0 0;
    }
}
