@import 'variables';

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    font: 16px $font-stack;
}
body {
    margin: 0;
    height: 100%;
}
#root {
    height: 100%;
}

@import 'Header';
@import 'SearchBar';
@import 'IconButton';
@import 'SampleList';
@import 'SampleItem';
