// Synchronize with `variables.ts`
$sampleHeight: 60px;
$samplePaddingX: 15px;
$sampleMargin: 5px;
$nameFont: 500 16px 'Work Sans', sans-serif;
$detailFont: 400 14px 'Work Sans', sans-serif;
//$sampleListPadding: 5px;
