// Theme variables
:root {
    --header-bg: #61E294;

    --sample-list-bg: #fff;

    $sample-bg: #f3f3f3;
    --sample-bg: #{$sample-bg};
    --sample-bg-hover: #{darken($sample-bg, 5%)};
    --sample-bg-active: #{darken($sample-bg, 10%)};
}
