// Theme variables
:root {
    $text-color: #000;

    --header-bg: #61e294;

    $sample-list-bg: #fff;
    --sample-list-bg: #{$sample-list-bg};

    $sample-bg: #f3f3f3;
    --sample-bg: #{$sample-bg};
    --sample-bg-hover: #{darken($sample-bg, 5%)};
    --sample-bg-active: #{darken($sample-bg, 10%)};

    $sample-playing-bg: #61e294;
    --sample-playing-bg: #{$sample-playing-bg};
    --sample-playing-bg-hover: #{darken($sample-playing-bg, 5%)};
    --sample-playing-bg-active: #{darken($sample-playing-bg, 10%)};

    --sample-progress-bg: #{rgba(lighten($sample-playing-bg, 30%), .4)};

    $no-results-color: mix($sample-list-bg, $text-color, 50%);
    --no-results-color: #{$no-results-color};
    --no-results-icon-color: #{lighten($no-results-color, 10%)};
}
