// Theme variables
:root {
    $text-color: #000;
    $accent-color: #61e294;

    // Header
    $header-bg: $accent-color;
    --header-bg: #{$header-bg};
    --header-color: #{$text-color};

    // SearchBar
    --search-bar-bg: #fff;
    --search-bar-color: #{$text-color};
    --search-bar-placeholder-color: #{rgba($text-color, 0.5)};

    // IconButton
    --icon-button-search-color: #{$text-color};
    --icon-button-search-bg-hover: #{rgba($text-color, 0.1)};
    --icon-button-search-bg-active: #{rgba($text-color, 0.2)};

    --icon-button-header-color: #{mix($header-bg, $text-color, 20%)};
    --icon-button-header-bg-hover: #{rgba($text-color, 0.1)};
    --icon-button-header-color-hover: #{mix($header-bg, $text-color, 10%)};
    --icon-button-header-bg-active: #{rgba($text-color, 0.15)};
    --icon-button-header-color-active: #{mix($header-bg, $text-color, 0%)};

    // SampleList
    $sample-list-bg: #fff;
    --sample-list-bg: #{$sample-list-bg};

    $no-results-color: mix($sample-list-bg, $text-color, 50%);
    --no-results-color: #{$no-results-color};
    --no-results-icon-color: #{lighten($no-results-color, 10%)};

    // SampleItem
    $sample-bg: #f3f3f3;
    --sample-bg: #{$sample-bg};
    --sample-bg-hover: #{darken($sample-bg, 5%)};
    --sample-bg-active: #{darken($sample-bg, 10%)};

    --sample-color: #{$text-color};

    $sample-playing-bg: $accent-color;
    --sample-playing-bg: #{$sample-playing-bg};
    --sample-playing-bg-hover: #{darken($sample-playing-bg, 5%)};
    --sample-playing-bg-active: #{darken($sample-playing-bg, 10%)};

    --sample-playing-color: var(--sample-color);

    --sample-progress-bg: #{rgba(lighten($sample-playing-bg, 30%), .4)};

    --sample-visualize-line-width: 2px; // Only supports pixels!
    --sample-visualize-color: #{$text-color};
}
